<?xml version="1.0"?>
<config>
	<modules>
		<Fishpig_FSeoXmlSitemap>
			<version>1.0.0.0</version>
		</Fishpig_FSeoXmlSitemap>
	</modules>
	<global>
		<helpers>
			<fseoxmlsitemap>
				<class>Fishpig_FSeoXmlSitemap_Helper</class>
			</fseoxmlsitemap>
		</helpers>
		<models>
			<sitemap>
				<rewrite>
					<sitemap>Fishpig_FSeoXmlSitemap_Model_Sitemap</sitemap>
				</rewrite>
			</sitemap>
		</models>
		<events>
			<fseo_router_match_url>
				<observers>
					<fseoxmlsitemap>
						<class>Fishpig_FSeoXmlSitemap_Model_Observer</class>
						<method>fseoRouterMatchUrlObserver</method>
					</fseoxmlsitemap>
				</observers>
			</fseo_router_match_url>
            <sitemap_sitemap_save_before>
                <observers>
					<fseoxmlsitemap>
						<type>singleton</type>
						<class>Fishpig_FSeoXmlSitemap_Model_Observer</class>
						<method>sitemapSitemapSaveBeforeObserver</method>
					</fseoxmlsitemap>
                </observers>
            </sitemap_sitemap_save_before>
		</events>
	</global>
	<default>
		<fseo>
			<xmlsitemap>
				<enabled>1</enabled>
			</xmlsitemap>
		</fseo>
	</default>
</config>